.discountBars {
  width: 100%;
  max-width: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 107px;
}

.discountBars-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1140px;
  justify-content: space-between;
  margin: 0 auto;
}

.discountBars-title {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}

.discountBars-titleText {
  display: inline-block;
  margin-right: 40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.75px;
  color: #000000;
}

.discountBars-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: none;
  background-color: #f2db0e;
  margin-right: 16px;
  cursor: pointer;
}

.btnNotAllowed {
  opacity: 50%;
}
